
		
		<div class="middle"> 
			
			<div class="container">
			
				view: dash.html
			
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<h3 class="panel-title">{{page}} for <span ng-bind="username"></span></h3>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">User Info</h3>
							</div>
							<div class="panel-body">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Player Status</h3>
							</div>
							<div class="panel-body">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Points Status</h3>
							</div>
							<div class="panel-body">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Game History</h3>
							</div>
							<div class="panel-body">
							</div>
						</div>
					</div>
					
				</div>
				
				<div class="row">
					
					<div class="col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Points History</h3>
							</div>
							<div class="panel-body">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">KYC</h3>
							</div>
							<div class="panel-body">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Settings</h3>
							</div>
							<div class="panel-body">
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<form ng-submit="play2()">
							<button class="btn btn-primary" type="submit">Play</button>
						</form>
					</div>
					
				</div>
				
			</div>
		
		</div>
		