
<div class="main clearfix">
	<nav id="menu" class="nav">
		<button type="button" id="menutoggle" class="navtoogle" aria-hidden="true">
			<i aria-hidden="true" class="icon-menu"> </i> 
			Menu
		</button>					
		<ul>
			<li>
				<a ui-sref="home">
					<span class="icon">
						<i aria-hidden="true" class="fa fa-home"></i>
					</span>
					<span>{{menu.home}}</span>
				</a>
			</li>
			<li>
				<a ui-sref="team">
					<span class="icon">
						<i aria-hidden="true" class="fa fa-user"></i>
					</span>
					<span>{{menu.team}}</span>
				</a>
			</li>
			<li>
				<a ui-sref="services">
					<span class="icon"> 
						<i aria-hidden="true" class="fa fa-gear"></i>
					</span>
					<span>{{menu.services}}</span>
				</a>
			</li>
			<li>
				<a ui-sref="portfolio">
					<span class="icon">
						<i aria-hidden="true" class="fa fa-book"></i>
					</span>
					<span>{{menu.portfolio}}</span>
				</a>
			</li>
			<li>
				<a ui-sref="partners">
					<span class="icon">
						<i aria-hidden="true" class="fa fa-gears"></i>
					</span>
					<span>{{menu.partners}}</span>
				</a>
			</li>
			<li>
				<a ui-sref="contact">
					<span class="icon">
						<i aria-hidden="true" class="fa fa-phone"></i>
					</span>
					<span>{{menu.contact}}</span>
				</a>
			</li>
		</ul>
	</nav>
</div>
