<div>

		<header>
			<h1>équipe conseil</h1>
		</header>

		<div class="row" style="text-align:center">
			<div class="col-md-6">
				<div class="cropcircle">
					<img src="../../img/Pierre-Richer.jpg" width="250" height="250">
				</div>
				<br/>
				<b>PIERRE RICHER</b><br />
				<div style="border:2px solid #cc2724; border-radius:5px; margin:10px 0px 10px 10px; padding:5px">
					<span style="text-align:center">
						<b>B.A.A. Adm. Des Affaires <br /> Membre auprès de l'Institut Canadien des Valeurs Mobilières</b><br />
					</span>
					<span style="text-align:justify">
					Pierre est le Président et co-fondateur de l’entreprise.  Ses 25 années à la Banque Royale lui ont permis 
					d’occupé le poste de Chef de l’administration dans le réseau des succursales ainsi que Directeur Centre 
					d’Affaires PME Gatineau.  Il a par la suite évolué à titre de Directeur de comptes principal et représentant 
					régional auprès de la Société d’État Investissement Québec (IQ) pendant 13 ans toujours à Gatineau.</span>
				</div>
				
			</div>
			<div class="col-md-6">
				<div class="cropcircle">
					<img src="img/guy-boucher.jpg" width="250" height="250">
				</div>
				<br/>
				<b>GUY BOUCHER</b><br />
				<div style="border:2px solid #cc2724; border-radius:5px; margin:10px 10px 10px 0px; padding:5px">
					<span style="text-align:center">
						<b>Ordre des Comptables Professionnels Agréés (CPA-CMA)<br /> Maîtrise en Administration des Affaires (M.B.A.)</b><br />
					</span>
					<span style="text-align:justify">
					Guy est le Vice-Président et co-fondateur de l’entreprise. Diplômé de l’Université du Québec de Hull et 
					Montréal, Guy a occupé un poste de direction auprès d’entreprises d’envergure tel que Tembec, Bowater, 
					Concert Industries, le CSSS de Gatineau et Rona. Chargé de cour à l’UQAH en ‘Gestion de Production’, 
					il possède également à son actif plusieurs succès en redressement d’entreprise. Son dernier défi a été de 
					créer, développer et vendre sa propre entreprise manufacturière qui comptait au moment de la transaction 
					une dizaine d’employés.</span>
				</div>
			</div>
		</div> <!-- row -->

</div>
