<div>

	<header class="clearfix">
		<h1>Services</h1><span>Consultants PME Outaouais</span>
	</header>
	
	<div class="main clearfix demo-1">
	
		<div class="column">
			<p>Nous offrons une gamme de services couvrant l'ensemble des fonctions de gestion de l'entreprise.</p>
		</div>
		
		<div class="column">
					<div id="dl-menu" class="dl-menuwrapper">
						<button class="dl-trigger">Open Menu</button>
						<ul class="dl-menu">
							<li>
								<a href="">Gestion / Expert-Conseil</a>
								<ul class="dl-submenu">
									<li>
										<a class="name" href="">Planification stratégique</a>
										<ul class="dl-submenu">
											<li>
											<a href="#">
											La planification stratégique est le processus de développement de stratégies afin d'atteindre un objectif fixé. Une planification « stratégique » doit opérer à grande échelle. 
											C'est le principal cheval de bataille de toute entreprise et celui-ci sera déterminant pour l'atteinte des résultats.
											C'est la tâche la plus ardue et la plus importante lors de la mise en place des composantes de l'entreprise. C'est aussi une des actions ou nous excellons. 
											</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="">
											Plan de relève
										</a>
										<ul class="dl-submenu">
											<li>
											<a href="#">
											Lorsque vient le temps pour un propriétaire
d’entreprise de céder la direction à quelqu’un d’autre,
il est essentiel d’avoir préalablement mis en place
un plan décrivant la logistique de la transition afin de
faciliter le transfert de pouvoir. La
valeur de l’entreprise, le règlement
des dettes et des obligations fiscales, le choix d’un
ou de plusieurs successeurs et la collaboration avec
ceux-ci et la communication du plan à toutes les
parties intéressées sont les points sur lesquelles nous
élaborons le plan. A chaque client son plan de relève!
											</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="">Analyse de la rentabilité & efficacité</a>
										<ul class="dl-submenu">
											<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a></li>
										</ul>
									</li>
									<li>
										<a href="">Amélioration des processus continue</a>
										<ul class="dl-submenu">
											<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a></li>
										</ul>
									</li>
									<li>
										<a href="">Contrôles internes
										</a>
										<ul class="dl-submenu">
											<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a></li>
										</ul>
									</li>
									<li>
										<a href="">Tableau de bord</a>
										<ul class="dl-submenu">
											<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a></li>
										</ul>
									</li>
									<li>
										<a href="">Prix de revient</a>
										<ul class="dl-submenu">
											<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="">Recherche de financement</a>
								<ul class="dl-submenu">
									<li><a href="#">Court terme: marge de crédit (recevables, inventaires), billet à terme, lettre de crédit</a></li>
									<li><a href="#">Long terme: prêt à terme, PFPEC (Programme de financement des petites entreprises du Canada) et de crédit bail</a></li>
									<li><a href="#">Refinancement</a></li>
									<li><a href="#">Accès au système d'enregistrement des lobbyistes (Commissariat au lobbying du Canada)</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Comptabilité et Fiscalité</a>
								<ul class="dl-submenu">
									<li>
										<a href="#">États financiers: compilation, mission d'examen et audité</a>
									</li>
									<li>
										<a href="#">Impôts corporation (T2)</a>
									</li>
									<li><a href="#">Planification fiscale</a></li>
									<li><a href="#">Plan d'affaires</a></li>
									<li><a href="#">Prévisions financières & budgétaires</a></li>
									<li><a href="#">Crédits d'impôt</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Démarrage d’entreprise</a>
								<ul class="dl-submenu">
									<li><a href="#">Établir la structure de l'entreprise</a></li>
									<li><a href="#">Plan d'affaires</a></li>
									<li><a href="#">Plan de commercialisation</a></li>
									<li>
										<a href="#">Incorporation complète</a>
										<ul class="dl-submenu">
											<li><a href="#">Livre des minutes</a></li>
											<li><a href="#">Convention d’actionnaire</a></li>
										</ul>
									</li>
									<li><a href="#">Prévisions financières & budgétaires</a></li>
									<li><a href="#">Recherche de subventions</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Recherche de Subventions</a>
								<ul class="dl-submenu">
									<li><a href="#">Emploi Québec</a></li>
									<li><a href="#">CLD</a></li>
									<li><a href="#">Programme immigrant investisseur</a></li>
									<li>
										<a href="#">Programme pour le secteur manufacturier</a>
									</li>
								</ul>
							</li>
						</ul>
					</div><!-- /dl-menuwrapper -->
		</div>			
		<!-- <div class="column">
			<p class="answer">template</p>
		</div> -->
	</div> <!-- main clearfix -->
	
</div>

<script src="js/modernizr.custom.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/jquery.dlmenu.js"></script>
<script>
	$(function() {
		$( '#dl-menu' ).dlmenu();
	});
</script>
