
<header>
	<h1>Services</h1>
</header>

<div class="main clearfix">

		<div class="column">
				<p>Un service est ce que l'on fait pour le client, c'est un avantage qu'on lui donne spontanément.</p>
		</div>
		<div class="column">
					<ul>
						<li><h3>Planification stratégique</h3></li>
						<li><h3>Plan de relève</h3></li>
						<li><h3>Analyse de la rentabilité & efficacité</h3></li>
						<li><h3>Amélioration des processus continue</h3></li>
						<li><h3>Contrôles internes</h3></li>
						<li><h3>Tableau de bord</h3></li>
						<li><h3>Prix de revient</h3></li>
					</ul>
		
		</div>

</div>
