<header>
	<h1>Services</h1>
</header>

<div class="main clearfix">

		<div class="column">
				<p>To serve a client is to spontaneously provide this individual with a benefit.</p>
		</div>
		<div class="column">
			<ul>
				<li><h3>Strategic planning</h3></li>
				<li><h3>Succession planning</h3></li>
				<li><h3>Profitability & Efficiency analysis</h3></li>
				<li><h3>Continuous improvement</h3></li>
				<li><h3>Internal controls</h3></li>
				<li><h3>Scorecard system</h3></li>
				<li><h3>Costing</h3></li>
			</ul>
		</div>
		
</div>

<header>
	<h1>Other Financial Services</h1>
</header>
