<div>

	<!-- <div class="container3"> -->
		<header>
			<h1>Expert Team</h1>
		</header>

		
			<div class="row" style="text-align:center">
				<div class="col-md-6">
					<div class="cropcircle">
						<img src="../../img/Pierre-Richer.jpg" width="250" height="250">
					</div>
					<br/>
					<b>PIERRE RICHER</b><br />
					<div style="border:2px solid #cc2724; border-radius:5px; margin:10px 5px 10px 10px; padding:5px">
						<span style="text-align:center">
							<b>Bachelor's degree in Business Administration <br /> Member of the Canadian Securities Institute</b><br />
						</span>
						<span style="text-align:justify">
						Pierre is the President and co-founder of the company. During his 25 years of work experience with the Royal Bank of Canada in 
						Gatineau QC, he held the position of Head Administration for the network of bank branches, as well as the Director Business 
						Centre for SMEs. He also was the Senior Accounts Director and Regional Representative for Investissements Québec for 13 
						years in Gatineau, QC.
						</span>
					</div>
					
				</div>
				<div class="col-md-6">
					<div class="cropcircle">
						<img src="../../img/Guy-Boucher.jpg" width="250" height="250">
					</div>
					<br/>
					<b>GUY BOUCHER</b><br />
					<div style="border:2px solid #cc2724; border-radius:5px; margin:10px 10px 10px 5px; padding:5px">
						<span style="text-align:center">
							<b>Certified Public Accountant (CPA-CMA)<br />Master's degree in Business Administration (M.B.A.)</b><br />
						</span>
						<span style="text-align:justify">
						Guy is the Vice-President and co-founder of the company. As a graduate of the Université du Québec de Hull (UQAH) and Montréal, 
						Guy held various management positions at Tembec, Bowater, Concert Industries, CSSS de Gatineau, and Rona. He has taught the 
						“Gestion de production” course at UQAH. His portfolio includes many successful business/corporate recoveries. He has also been 
						a owner/operator of a manufacturing enterprise with 10+ employees.</span>
					</div>
				</div>
			</div> <!-- row -->
			
		<!-- </div> -->
	<!-- </div> -->

</div>
